<footer class="footer">
  <small>
    The Battleships by Team P
  </small>
  <nav>
    <ul>
      <li>Abhilash</li>
      <li>Jens</li>
      <li>Sree</li>
    <li>Deeptanshu</li>
    <li>Abhijit</li>
    </ul>
  </nav>
</footer>